<h1>New Idea</h1>

<form action="/create_user">
  <div>
    <label for="content">content</label><br />
    <input id="content" name="content" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

