form {
  text-align: center;
}

.h2update {
  text-align: center;
}

.links {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.deletel {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

.destroys {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}