  <br></br>
<h2 class="text-center">Add a President</h2>

<h4 class="text-center">
<form action="/create_pres">
<p>
  <input type="text" name="url" placeholder="URL of Picture">
  </p>

  <p>
   <input type="text" name="title2" placeholder="President Name">

  <p>
  <input type="text" name="bio" placeholder="Summary of President">
  </p>
  <p>
  <input type="text" name="br2" placeholder="Birthdate">
  </p> 
<p>
   <input type="text" name="br2" placeholder="Hometown">
  </p>
    <p>
   <input type="text" name="br3" placeholder="Presidential Term">
  </p>

    <p>
   <input type="text" name="br4" placeholder="Political Party">
  </p>
    <p>
   <input type="text" name="br5" placeholder="Date of Death'">
  </p>

  <p>
   <input type="submit">
  </p>
  </h4>
</form>